*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(103, 169, 234);
  background-image: url(./clouds.jpg);
  background-size: 160%;
  filter:opacity(90%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Livvic', sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diego{
  color: rgb(210, 195, 64);
  text-shadow: -2px 2px 2px black;
}

.text{
  color: rgb(210, 195, 64);
  text-shadow: -2px 2px 2px black;
}

.wrapper > h3{
  color: yellow;
  margin-bottom: 4px;
  font-size: 17px;
  text-shadow: -2px 2px 2px black;
  display: flex;
}

.square{
  background-color: rgb(210, 195, 64);
  width: 230px;
  margin-top: 6px;
  border: 0;
  border-radius: 20px;
  padding: 10px;
}

.square > p{
  font-size: 15px;
  color: black;
  font-weight: 700;
}

.image{
  width: 260px;
  height: 260px;
  border-radius: 50%; 
  box-shadow: 2px 4px 8px black,
              6px 12px 32px black;
}

.image:hover{
  transform: scale(0.97);
}

.image:active{
  transform: scale(1.1);
}

.cloud{
  margin-top: 10px;
  color: yellow;
  font-size: 18px;
  text-shadow: -2px 2px 2px black;
}
